{% extends 'base.html' %}

{% block head %}
    Academics
{% endblock head %}

{% block body %}

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Academics and Achievements</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>SSC Details</h2>
        <p>I Completed My Secondary Education from Pune Divisional Board (The Proggressive High School) with an aggregate score of 442 out of 500 which is 88.40% . To know more details click on the button below...</p>
        <a href="/ssc" class="btn btn-outline-primary">
          SSC Details
        </button>
        </a>
      </div>

      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>HSC Details</h2>
        <p>I Completed My Higher Secondary Education from Pune Divisional Board (SSA Jr. College of Science) with an aggregate score of 537 out of 650 which is 82.62% . To know more details click on the button below...</p>
        <a href="/hsc" class="btn btn-outline-primary">
            HSC Details
          </button>
          </a>
      </div>

      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>Under Graduation Details</h2>
        <p>I am currently pursuing my BTECH Computer Science and Engineering from Shri Guru Govind Singh Ji Engineering College. My current CGPA score is 8.72. To know more details click on the button below...</p>
        <a href="/ug" class="btn btn-outline-primary">
            UG Details
          </button>
          </a>
      </div>
    </div>

    <br>
    <hr>
  </div>

{% endblock body %}