{% extends 'base.html' %}

{% block head %}
Higher Secondary Education
{% endblock head %}

{% block body %}

<style>
    body {
        background-image: url('{{url_for("static", filename="download/academic-bg.jpg")}}');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
<br>
<div class="container">
    <form>
        <fieldset disabled>
            <legend><b>Higher Secondary Education Details</b></legend>
            <br>
            <hr>
            <div class="mb-3">
                <h5><label for="disabledTextInput" class="form-label">Board : </label></h5>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="PUNE DIVISIONAL BOARD">
            </div>

            <div class="mb-3">
                <h5><label for="disabledTextInput" class="form-label">Name : </label></h5>
                <input type="text" id="disabledTextInput" class="form-control"
                    placeholder="KHAN MOHAMMAD AMAAN G SAIFUL MALIK">
            </div>

            <div class="mb-3">
                <h5><label for="disabledTextInput" class="form-label">College : </label></h5>
                <input type="text" id="disabledTextInput" class="form-control"
                    placeholder="SOLAPUR SOCIAL ASSOCIATION URDU HIGH SCHOOL & JR. COLLEGE OF ARTS AND SCIENCE, SOLAPUR.">
            </div>

            <div class="mb-3">
                <h5><label for="disabledTextInput" class="form-label">Year of Completion : </label></h5>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="2019">
            </div>

            <div class="mb-3">
                <h5><label for="disabledTextInput" class="form-label">Percentage : </label></h5>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="82.62">
            </div>

        </fieldset>
    </form>
</div>

<footer class="container">
    <br>
    <hr>
    <p class="float-end"><a href="/ug" class="btn btn-dark">UG Details ></a></p>
    <p>
        <a href="/ssc" class="btn btn-dark">
            < SSC Details</a>
    </p>
</footer>
{% endblock body %}